* {
  box-sizing: border-box;
}
img {
  display: block;
  max-width: 100%;
}
h1 {
  padding: 15px;
  margin: 40px;
  width: 50%;
  margin-left: 10px;
  font-family: Arial, Helvetica, sans-serif;
  color: #778873;
}
.header {
  background-color: #f1f3e0;
  width: 100%;
}
#menu-toggle {
  display: none;
}
.menu-icon {
  font-size: 1em;
  color: #5e6146;
  padding-right: 5%;
}
.topnav {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 30px;
  width: 50%;
  font-family: Arial, Helvetica, sans-serif;
  color: #778873;
  text-decoration: none;
  font-size: 1em;
  max-width: 100%;
}
@media only screen and (max-width: 1200px) {
  .topnav {
    display: none;
  }
  .calendar {
    max-width: 350px;
    max-height: 400px;
  }
}
@media only screen and (max-width: 768px) {
  .logo {
    width: 20%;
  }
  h1 {
    font-size: 1.5em;
  }
  h2 {
    margin: none;
  }
  .row1 {
    display: flex;
    flex-direction: column;
    column-width: 100%;
    width: 100%;
    margin-top: 1%;
    margin-left: 0%;
    font-size: 1em;
    padding-top: 10px;
  }
  #image {
    min-width: 100%;
    margin-top: 0px;
  }
  .header {
    width: 100%;
  }
  .welcome {
    width: 100%;
  }
  .footer {
    flex-direction: column;
  }
  .footercolumn {
    min-width: 100%;
  }
  .homegallerycolumn2 {
    display: none;
  }
  .homegallerycolumn3 {
    display: none;
  }
  .homegallerycolumn1 {
    display: flex;
    flex-direction: column;
    min-width: 100%;
    align-items: center;
    padding: 10%;
  }
  .row3 {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0px;
  }
  .row2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .serviceshome {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10%;
  }
  img {
    width: 100%;
  }
  table,
  th,
  td,
  tr {
    display: table-row;
    width: 100%;
  }
  .galleryrow1 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .bookingrow1,
  .bookingrow2 {
    flex-direction: column;
  }
  .bookingrow2 {
    align-items: center;
  }
  .bookingcolumn2 {
    justify-content: center;
    width: 100%;
  }
  .calendar {
    max-width: 350px;
    max-height: 400px;
    padding-top: 8%;
    padding-bottom: 8%;
  }
  .bookingcolumn3 {
    padding: 5%;
  }
  .contactrow1,
  .contactrow2 {
    flex-direction: column;
    align-items: center;
  }
  .contactcolumn3 {
    padding-top: 10%;
  }
}
#container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.row1 {
  font-family: Arial, Helvetica, sans-serif;
  color: #778873;
  padding: 50px;
  margin-top: 2%;
}
.welcome {
  display: flex;
  flex-direction: column;
}
#image {
  float: right;
  width: 30%;
  margin-top: 50px;
}
.button {
  background-color: #778873;
  color: #f1f3e0;
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  text-align: center;
  max-height: 60px;
}
.button2 {
  background-color: #363924;
  color: #f1f3e0;
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  text-align: center;
  max-height: 60px;
}
.row2 {
  align-items: center;
  display: flex;
  margin-bottom: 0px;
  background-color: #f1f3e0;
  padding: 80px;
  width: 100%;
  color: #778873;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 10%;
}
.serviceshome {
  width: 100%;
  margin-left: 5%;
}
.row3 {
  align-items: center;
  display: flex;
  flex-direction: row-reverse;
  margin-top: 0px;
  background-color: #828567;
  padding: 80px;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  color: #f1f3e0;
}
.services {
  margin-left: 100px;
}
.homegallerycolumn1 {
  display: flex;
  flex-direction: column;
  width: 30%;
}
.homegallerycolumn3 {
  display: flex;
  flex-direction: column;
  width: 30%;
}
.homegallerycolumn2 {
  display: flex;
  flex-direction: column;
  width: 30%;
}
.footer {
  margin-top: 0px;
  background-color: #5e6146;
  padding: 10%;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  color: #f1f3e0;
  display: flex;
  align-items: left;
}
.footercolumn {
  display: flex;
  flex-direction: column;
  margin-right: 3%;
  width: 30%;
}
.footercolumn1 {
  display: flex;
  margin-right: 10%;
  padding-bottom: 5%;
  padding-top: 5%;
}
.footercolumn2 {
  display: flex;
  width: 40%;
  padding-bottom: 5%;
  padding-top: 5%;
}
.smallbutton {
  background-color: #778873;
  color: #f1f3e0;
  padding: 10px;
  font-size: 0.8em;
  text-decoration: none;
  float: right;
}
.caption {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
table {
  display: flex;
  justify-content: space-around;
  padding: 5%;
  width: 100%;
  color: #778873;
  font-family: Arial, Helvetica, sans-serif;
}
th,
td {
  padding: 5%;
  padding-left: 5%;
  padding-right: 5%;
  width: 30%;
}
th {
  font-size: 20pt;
}
.gallerycolumn2,
.gallerycolumn3,
.gallerycolumn4,
.gallerycolumn1 {
  display: flex;
  flex-direction: column;
  margin: 2%;
  margin-right: 4%;
  width: 100%;
}
.galleryrow1,
.galleryheading {
  align-items: center;
  display: flex;
  margin-top: 0px;
  background-color: #828567;
  padding: 40px;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  color: #f1f3e0;
}
.galleryheading {
  padding-left: 5%;
  padding-top: 150px;
  padding-bottom: 20px;
}
.bookingrow1 {
  display: flex;
  padding: 10%;
  font-family: Arial, Helvetica, sans-serif;
  color: #f1f3e0;
  background-color: #828567;
  align-items: center;
}
.bookingcolumn2 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 5%;
}
.bookingcolumn1 {
  margin-right: 5%;
  margin-left: 5%;
}
.bookingrow2 {
  padding: 50px;
  display: flex;
  background-color: #727555;
  align-items: center;
  justify-content: space-between;
}
.bookingcolumn3 {
  min-width: 30%;
}
.bookingrow3 {
  display: flex;
  justify-content: space-around;
  padding: 50px;
  background-color: #afb38f;
}
.calendar {
  display: flex;
  justify-content: right;
}
.contactrow1 {
  display: flex;
  padding: 10%;
  font-family: Arial, Helvetica, sans-serif;
  color: #f1f3e0;
  background-color: #828567;
  align-items: center;
}
.contactrow2 {
  padding: 10%;
  background-color: #727555;
  display: flex;
  align-items: center;
}
.contactcolumn2 {
  color: #f1f3e0;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-right: 10%;
}
.contactcolumn3 {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-right: 2%;
}
.contactrow3 {
  display: flex;
  justify-content: space-around;
  padding: 70px;
  background-color: #afb38f;
}
